html {
    font-family: 'Crete Round', serif;
}

body {
    margin: 0;
    /* text-align: center; */
    background-color: white;
}

t {
    /* */
}

t1 {
    /* */
    color: blue;
}

t2 {
    color: red;
}