html {
    font-family: 'Crete Round', serif;
}

body {
    /*margin: 0;*/
    background-color: white;
}

h1 {
    text-align: center;
}

h5 {
    text-align: center;
}

t {
    text-align: center;
}

t1 {
    /* */
    text-align: center;
    color: blue;
}

t2 {
    color: red;
}